#inicio_de_sesion{
    position: absolute;
    width: 600px;
    height: 630px;
    left: 0px;
    top: 0px;

    background: #0F0F0F;
    border-radius: 10px;
    }

#formulario_IS {
    position: absolute;
    width: 552px;
    height: 544px;
    left: 24px;
    top: 43px;
}

#email_label{
    position: absolute;
    width: 264px;
    height: 20px;
    left: 24px;
    top: 127px;

    /* H4 */

    font-family: 'Exo';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}
#recordar_label{
    position: absolute;
    width: 136px;
    height: 20px;
    left: 52px;
    top: 393px;

    /* Body */

    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #AAAAAA;

}

#pass_label{
    position: absolute;
    width: 74px;
    height: 20px;
    left: 24px;
    top: 259px;

    /* H4 */

    font-family: 'Exo';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#iniciar_sesion{
    position: absolute;
    color:rgba(255, 255, 255, 1) ;
    background-color: rgba(255, 42, 0, 1);
    width: 167px;
    height: 33px;
    left: 409px;
    top: 387px;

}


#titulo_iniciarS{
    position: absolute;
    width: 170px;
    height: 20px;
    left: 24px;
    top: 43px;

 
    font-family: Exo;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

}

#Mail_input{
    box-sizing: border-box;

    position: absolute;
    width: 552px;
    height: 64px;
    left: 24px;
    top: 170px;

    background: #212121;
    border-radius: 4px;
    }

#Pass_input{
    box-sizing: border-box;

    position: absolute;
    width: 552px;
    height: 64px;
    left: 24px;
    top: 300px;

    background: #212121;
    border-radius: 4px;
}

#recordar_ck{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 24px;
    top: 394px;

    background: #FF2A00;
    border-radius: 2px;
    }

#singIn{
    position: absolute;
    width: 83px;
    height: 20px;
    left: 24px;
    top: 499px;

    /* H4 */

    font-family: 'Exo';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#recuperar_contraseña{
    position: absolute;
    width: 186px;
    height: 20px;
    left: 24px;
    top: 447px;

    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */

    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;

    color: #FFFFFF;

}