/* estilos de inicio de sesion */

body{
    background-color: #0F0F0F;
}
#inicio_de_sesion{
    position: absolute;
    width: 600px;
    height: 630px;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    position: relative;
    width: 600px;
    height: 630px;

    flex: none;
    order: 0;
    flex-grow: 0;

    background: #0F0F0F;
    border-radius: 10px;
    }

#divisor_iniciarS{
    position: absolute;
    width: 552px;
    height: 0px;
    left: 24px;
    top: 95px;

    border: 1px solid #303030;
}

#email_label{
    position: absolute;
    width: 264px;
    height: 20px;
    left: 24px;
    top: 127px;

    /* H4 */

    font-family: 'Exo';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}
#recordar_label{
    position: absolute;
    width: 136px;
    height: 20px;
    left: 52px;
    top: 393px;

    /* Body */

    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #AAAAAA;

}

#pass_label{
    position: absolute;
    width: 74px;
    height: 20px;
    left: 24px;
    top: 259px;

    /* H4 */

    font-family: 'Exo';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#iniciar_sesion{
    position: absolute;
    color:rgba(255, 255, 255, 1) ;
    background-color: rgba(255, 42, 0, 1);
    width: 167px;
    height: 33px;
    left: 409px;
    top: 387px;

}

#titulo_iniciarS{
    position: absolute;
    width: 170px;
    height: 20px;
    left: 24px;
    top: 43px;

 
    font-family: Exo;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

}

#Mail_input{
    box-sizing: border-box;

    position: absolute;
    width: 552px;
    height: 64px;
    left: 24px;
    top: 170px;

    background: #212121;
    border-radius: 4px;
    }

#Pass_input{
    box-sizing: border-box;

    position: absolute;
    width: 552px;
    height: 64px;
    left: 24px;
    top: 300px;

    background: #212121;
    border-radius: 4px;
}

#recordar_ck{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 24px;
    top: 394px;
    accent-color: #FF2A00;
    background: #FF2A00;
    border-radius: 2px;
    }

#singIn{
    position: absolute;
    width: 83px;
    height: 20px;
    left: 24px;
    top: 499px;

    /* H4 */

    font-family: 'Exo';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#recuperar_contraseña{
    position: absolute;
    width: 186px;
    height: 20px;
    left: 24px;
    top: 447px;

    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */

    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;

    color: #FFFFFF;

}

/* contacto */


#contact_bk{
    position: relative;
width: 1440px;
height: 1207px;

background: #0F0F0F;
}

#Titulo_contacto{
    position: absolute;
    width: 121px;
    height: 20px;
    left: 444px;
    top: 144px;

    /* H2 */

    font-family: 'Exo';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
    /* identical to box height, or 83% */

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

    border: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#divisor_contacto{
    position: absolute;
    width: 552px;
    height: 0px;
    left: 444px;
    top: 196px;

    border: 1px solid #303030;
}

#label_nombre{
    position: absolute;
    width: 53px;
    height: 20px;
    left: 444px;
    top: 228px;

    /* H4 */

    font-family: 'Exo';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

}

#input_nombre{
    ox-sizing: border-box;

    position: absolute;
    width: 552px;
    height: 64px;
    left: 444px;
    top: 264px;
    color: #FFFFFF;
    background: #212121;
    border-radius: 4px;
}

#label_email{
    position: absolute;
    width: 124px;
    height: 20px;
    left: 444px;
    top: 360px;

    /* H4 */

    font-family: 'Exo';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#input_email{
    box-sizing: border-box;
    
    position: absolute;
    width: 552px;
    height: 64px;
    left: 444px;
    top: 396px;
    color: #FFFFFF;
    background: #212121;
    border-radius: 4px;
}

#label_asunto{
    position: absolute;
    width: 47px;
    height: 20px;
    left: 444px;
    top: 492px;

    /* H4 */

    font-family: 'Exo';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;

    color: #FFFFFF;

}

#input_asunto{
    box-sizing: border-box;

    position: absolute;
    width: 552px;
    height: 64px;
    left: 444px;
    top: 528px;
    color: #FFFFFF;
    background: #212121;
    border-radius: 4px;
}

#label_mensaje{
    position: absolute;
    width: 54px;
    height: 20px;
    left: 444px;
    top: 624px;

    /* H4 */

    font-family: 'Exo';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

#input_text_box{
    box-sizing: border-box;
    /* text-justify:inter-word; */
    position: absolute;
    width: 552px;
    height: 200px;
    left: 444px;
    top: 660px;
    color: #FFFFFF;
    background: #212121;
    border-radius: 4px;
}

#input_check{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 444px;
    top: 899px;
    accent-color: #FF2A00 ;
    background: #FF2A00;
    border-radius: 2px;
}

#label_he_leido{
    position: absolute;
    width: 228px;
    height: 20px;
    left: 472px;
    top: 898px;

    /* Body */

    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #AAAAAA;
}

#input_enviar{
    position: absolute;
    width: 167px;
    height: 33px;
    left: 829px;
    top: 892px;
}

/* NOTICIAS */

#noticias{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
}

#filtros{
    display: flex;
    justify-content: flex-start;
    width: 235px;
    height: 32px;
    left: 156px;
    top: 104px;

}
.menu-despegable{  
    width: 117px;
    height: 32px;
    border: 1px solid #303030;
    border-radius: 100px;
    text-align: center;
    color:rgba(202, 197, 205, 1);
    padding: 2 px;
    background-color: #0F0F0F;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
}
#contenido{
    display: flex;
    width: 1139px;
    height: 919px;
    left: 146px;
    top: 158px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;

}
.nota{
    width: 361px;
    height: 203px;
    background-color: #d27878;

}    
#navegacion{
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
}
.boton-top{
    background: #212121;
    border-radius: 4px;
    color:rgba(202, 197, 205, 1);
}
.mas{
    width: 75px;
    height: 16px;
    left: 46px;
    top: 8px;

    /* NAV */

    font-family: 'Exo';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 16px;
   
    align-items: center;
    text-align: center;

    background: #212121;
    border-radius: 4px;
    color:rgba(255, 255, 255, 1);
    padding: px;


}